.movie-poster {

    object-fit: cover;
}

.label {
    color: #2b2c2c;
    font-style: italic;
    font-weight: 800 !important;

}

/* .movie-footer a {
    margin-left: 10px;
}
 */
.bread-link {
        color: #0d6efd;
    text-decoration: underline;
}

.bread-link:hover {
    color: #0a58ca;
}

.card-body {
    justify-content: center!important;
}

.director-btn {
    margin-right: 5px;
}