 .login-container {
    margin: auto;


}

.login-btn {
    border-radius: 5px;
}

.login-register {
    font-size: 16px;
}


.login-logo {
        margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}