.navbar {
    margin-bottom: 10px;
}

.navbar-brand {
    font-size: 2rem !important;
}

.nav-link, .navbar-brand {
    color: white !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: black !important;
}

.navbar {
    background-color: crimson!important;
}